.cart {
    position: sticky;
    top: 0;
    padding-top: 5px;
}

.cart h4 {
    padding-left: 30%;
}

.cart-info {
    margin: 5px 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.cart-info img {
    margin-left: 20px;
    width: 40%;
}

.try-choose-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #4c566a;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    button .btn-text {
        display: none;
    }

    .cart-info img {
        width: 80%;
    }

    .try-choose-btn {
        width: 100%;
        padding: 10px 0;
    }
}
