.phone {
    width: 200px;
    height: 400px;
    border: 1px solid #4c566a;
    border-radius: 14px;
    position: relative;
}

.phone img {
    display: block;
    margin: 20px auto 0;
}

.info {
    padding: 20px;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4c566a;
    color: white;
    border: none;
    border-radius: 11px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
