.phone {
    width: 200px;
    height: 400px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 10px;
    position: relative;
}

.phone img {
    display: block;
    margin: 20px auto 0;
}

.info {
    padding: 20px;
}

.cart-btn {
    width: 100%;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}

.cart-btn:hover {
    background-color: orange;
    cursor: pointer;
}
